:root {
    --md-primary-fg-color: #990d35;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #90030C;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);

    --md-accent-fg-color: #519E8A;
    --md-accent-fg-color--transparent: hsla(164, 32%, 47%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

[data-md-color-scheme="light"] {
    color-scheme: light;

    --md-primary-fg-color: #990d35;
    --md-primary-fg-color--light: #990d35;
    --md-primary-fg-color--dark: #990d35;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);

    --md-accent-fg-color: #519E8A;
    --md-accent-fg-color--transparent: hsla(164, 32%, 47%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

[data-md-color-scheme="slate"] {
    color-scheme: dark;

    --md-primary-fg-color: hsl(267, 94%, 51%);
    --md-primary-fg-color--light: hsl(267, 94%, 60%);
    --md-primary-fg-color--dark: hsl(267, 94%, 46%);

    --md-accent-fg-color: #990d35;
    --md-accent-fg-color--transparent: hsla(343, 84%, 33%, 0.1);
}

:root > [data-md-color-scheme=slate] {
    --md-code-hl-color: #3574F0;
    --md-code-hl-number-color: #4690E7;
    --md-code-hl-special-color: #42FFC2;
    --md-code-hl-function-color: #F3BA51;
    --md-code-hl-constant-color: #B189F5;
    --md-code-hl-keyword-color: #E17945;
    --md-code-hl-string-color: #439154;
    --md-code-hl-name-color: #A5A6AD;
    --md-code-hl-operator-color: #CCCED3;
    --md-code-hl-punctuation-color: #A5A6AD;
    --md-code-hl-comment-color: #7A7E85;
    --md-code-hl-generic-color: #CCCED3;
    --md-code-hl-variable-color: #CCCED3;
}